:root {
    --main-blue-color: #0041A3;
    --light-blue-color: #0065ff;
    --main-blue-filter: invert(15%) sepia(78%) saturate(3178%) hue-rotate(209deg) brightness(93%) contrast(102%);
    font-family: 'Montserrat', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    background-color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo__icon {
    width: 32px;
    height: auto;
}

.header-logo__title {
    font-size: 2rem;
    font-weight: 650;
    color: var(--main-blue-color);
    text-decoration: none;
    transition: 100ms linear;
}

.header-logo__title:hover {
    color: var(--light-blue-color);
}

.header-auth {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header-auth__item {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-auth__item:hover {
    color: var(--main-blue-color);
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f2f2f2;
    align-items: center;
    padding: 1% 30%;
}

.news-article {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    transition: 150ms linear;
}

.news-article:hover {
    box-shadow: 0 3px 7px 1px #616161;
}

.news-article__title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: black;
    transition: 100ms linear;
}

.news-article__title:hover {
    color: var(--main-blue-color);
}

.news-article__text {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5rem;
}

.news-article-date {
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: flex-end;
}

.news-article-date__img {
    width: 32px;
    height: auto;
}

.news-article-date__text {
    margin: 0;
}
